
body {
    background-color:#c5ff7c;
    font: 15px Arial, sans-serif;
    margin-top:0px;
    min-width:700px;
}

.site-container{
    background-color:#fff;
    margin:auto;
    width:90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:20px;
    max-width:750px;
    margin-bottom:30px;
}

h1 {
    margin-top:0px;
    padding:30px;
    text-align:center;
    background-color:#fff;
    font-size:3em;
    border:3px solid #ba6321;
    font-weight:500;
    border-radius:5px;
    color:#349000;
}

.game {
    background-color:#fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:10px;
    border-radius:10px;
    padding-bottom:20px;
    border:3px solid #ba6321;
}

.gameInfo {
    display:flex;
    justify-content:space-evenly;
    align-content:center;
    align-items:baseline;
    max-width: 700px;
    margin: auto;
}

.gameboard {
    display:flex;    
    flex-wrap: wrap;
    min-width:500px;
    max-width:500px;
    min-height:500px;
    max-height:500px;
    background-color: #56b000;
    margin:auto;
    border:2px solid #ba6321;
    border-radius: 2px;
}

.mole {
    width:33%;
    height:33%;
    text-align:center;
    cursor:pointer;
}

img {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.ng-hide.occupy-space {
    transition: all linear 0.1s;
    opacity:0;
    display: block !important;
    cursor:default;
}

.ng-show.occupy-space {
    transition: all linear 0.1s;
    height:auto;
    opacity:1;
    display: block !important;
}